<script setup lang="ts">
import { useMessageStore } from "@/stores/message";
const messsgeStore = useMessageStore;
</script>
<template>
  <div class="text-center ma-2">
    <v-snackbar v-model="messsgeStore.isShow" :timeout="messsgeStore.timeout">
      {{ messsgeStore.message }}

      <template v-slot:actions>
        <v-btn
          color="pink"
          variant="text"
          @click="messsgeStore.closeMessage = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<style scoped></style>
